.circulo {
  background-image:url(../imagens/estrela.png);
  background-color: #aaa;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  overflow: hidden;
  position: relative;
  margin-top:-1%;
}

.circulo img {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image:url(../imagens/estrela.png);
}
